<div class="container">
<mat-toolbar style="color: dimgray;"> Bubble Sort
</mat-toolbar>
<p>Welcome to practicing  Bubble sort  </p>
<div class="example-boundary" *ngIf="bubbleArray.length>0">
  <div cdkDropList 
  cdkDropListOrientation="horizontal" 
  class="number-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" 
    *ngFor="let num of bubbleArray" 
     cdkDragBoundary=".example-boundary" 
     cdkDragLockAxis="x"
     cdkDrag >{{num.value}}</div>
  </div>
</div>
 <p style="color: red; font-size: larger;">{{message}}</p>
</div>