<div class="container">
    <mat-toolbar style="color: olivedrab;"> <pre style="font-size: xx-large;">Selection Sort</pre>
      
    </mat-toolbar>
    <p>Practicing  Selection sort  </p>
    <div class="example-boundary" *ngIf="selectionArray.length>0">
      <div cdkDropList 
      cdkDropListOrientation="horizontal" 
      class="number-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" 
        *ngFor="let num of selectionArray;let i=index;" 
         cdkDragBoundary=".example-boundary" 
         cdkDragLockAxis="x"
         cdkDrag   style="font-size: larger;">{{num}}  <pre style="font-size: small; color:crimson;"> <br> {{i}}</pre></div>
      </div>
    </div>
     <p style="color: red; font-size: larger;">{{message}}</p>
    </div>