<div class="container">
  <mat-toolbar style="color: palevioletred"><pre style="font-size: xx-large;">Radix Sort</pre>
  </mat-toolbar>
  <p style="font-size: medium;"> Practicing Radix Sort.</p>
  <p style="color:brown">{{message}}</p>
  <pre style="font-size: large; color: palevioletred;text-align: left;"  *ngIf="present">
      1:Radix sort is NOT a comparision based sorting Algorithm,but it is stable.
    
      2:It works by sorting the elements based on its digits ,starting from lesser 
        significant digits to more significant digits.
      
      3:In mostly implemented versions it used counting sort as subroutine.

      4:It technically sorts based on values of digits and not on number as a whole.
       
      5:Here we are using three digit numbers to demonstrate it
     
      6:Its Complexity may vary a lot according to what type of inputs it is receiving.
     
      7:Firstly place all the elements in first column's end(according to their values of one's digit) and then
        to the second column's end (according to their values of one's digit) and then to the third column's end (according 
        to their values of one's digit),
        you will get a sorted array.
      </pre>
<p  *ngIf="present">Use the Sidebar to get elements in here</p>
  <div class="example-boundary" >
    <div cdkDropListGroup>
      <div class="example-container">
        <p>Given Array</p>
        <div
          cdkDropList
          [cdkDropListData]="radixArray"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let num of radixArray;let i=index;" cdkDrag style="font-size: larger;">{{num}} <br> <pre style="font-size: xx-small;color:brown;">{{num%10}}</pre>
          </div>
        </div>
      </div>
    
      <div class="example-container">
        <p>One's Place sorted</p>
       <div
          cdkDropList
          [cdkDropListData]="ones"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let num of ones" cdkDrag style="font-size: larger;">{{num}} <br> <pre style="color: brown;font-size: xx-small;">{{getSecond(num)}}</pre></div>
        </div>
      </div>
      <div class="example-container">
        <p>Two's Place sorted</p>
    
        <div
          cdkDropList
          [cdkDropListData]="twos"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let num of twos" cdkDrag style="font-size: larger;">{{num}}  <br><pre style="color: brown;font-size: xx-small;">{{getThird(num)}}</pre></div>
        </div>
      </div>
      <div class="example-container">
        <p>Three's Place sorted</p>
    
        <div
          cdkDropList
          [cdkDropListData]="threes"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let num of threes" cdkDrag style="font-size: larger;">{{num}} </div>
        </div>
      </div>
   </div>



  
   
  </div>