<div class="container">
    <mat-toolbar style="color:cornflowerblue;"> <pre style="font-size: xx-large;">Insertion Sort</pre>
    </mat-toolbar>
    <p> Practicing  Insertion sort  </p>
    <div class="example-boundary" *ngIf="insertionArray.length>0">
      <div cdkDropList 
      cdkDropListOrientation="horizontal" 
      class="number-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" 
        *ngFor="let num of insertionArray" 
         cdkDragBoundary=".example-boundary" 
         cdkDragLockAxis="x"
         cdkDrag   style="font-size: larger;">{{num}}</div>
      </div>
    </div>
     <p style="color: red; font-size: larger;">{{message}}</p>
    </div>