<mat-toolbar color="accent" >
    <div ><button mat-icon-button (click)="showsidebar()"><mat-icon>menu</mat-icon></button></div>
    <div style="font-size:xx-large; padding-right: 20px;"><a routerLink="/" style="font-family: 'Courier New', Courier, monospace;">SortVisuals</a></div>
        <div  fxFlex fxLayout fxLayoutAlign="flex-end">
        <a routerLink='/bubble' style="font-family: 'Courier New', Courier, monospace;">Bubble</a>
        <a routerLink='/bucket' style="font-family: 'Courier New', Courier, monospace;">Bucket</a>
        <a routerLink='/counting'style="font-family: 'Courier New', Courier, monospace;">Counting</a>
        <a routerLink='/heap'style="font-family: 'Courier New', Courier, monospace;">Heap</a>
        <a routerLink='/insertion'style="font-family: 'Courier New', Courier, monospace;">Insertion</a>
        <a routerLink='/merge'style="font-family: 'Courier New', Courier, monospace;">Merge</a>
        <a routerLink='/quick'style="font-family: 'Courier New', Courier, monospace;">Quick</a>
        <a routerLink='/radix'style="font-family: 'Courier New', Courier, monospace;">Radix</a>
        <a routerLink='/selection'style="font-family: 'Courier New', Courier, monospace;">Selection</a>
        <a routerLink='/shell'style="font-family: 'Courier New', Courier, monospace;">Shell</a>
    </div>
</mat-toolbar>
