<mat-toolbar color="accent" class="toolbar">
    <div ><button mat-icon-button (click)="showsidebar()"><mat-icon>menu</mat-icon></button></div>
    <div style="font-size:xx-large; padding-right: 20px;"><a routerLink="/">SortVisuals</a></div>
        <div  fxFlex fxLayout fxLayoutAlign="flex-end">
        <a routerLink='/bubble'>Bubble</a>
        <a routerLink='/bucket'>Bucket</a>
        <a routerLink='/counting'>Counting</a>
        <a routerLink='/heap'>Heap</a>
        <a routerLink='/insertion'>Insertion</a>
        <a routerLink='/merge'>Merge</a>
        <a routerLink='/quick'>Quick</a>
        <a routerLink='/radix'>Radix</a>
        <a routerLink='/selection'>Selection</a>
        <a routerLink='/shell'>Shell</a>
    </div>
</mat-toolbar>
