
<p style="color:cadetblue;font-size: xx-large; text-align: center;">Practice some of the common soriting techniques you may have learned</p>
<hr style="margin-left: 40px;margin-right:40px;">
<pre style="color: lightseagreen; font-size:x-large">   
        - Firstly ,navigate to the Algorithm using above toolbar so as to have a jest to how to use what
           you actually want to practice.

        - Then Follow the instructions given there.

        <hr style="margin-left: 80px;margin-right:80px;">

        Here are some explainations for the terms used 

        1-Stable: A sorting techniques is stable if in its output, it preserves the relative positions 
                  of elements having common key.

        2-In place:A sorting Algorithm is said to be in place if it uses only 
                   a constant amount(or zero) external space.

        3-Comparision based: A Algorithm is comparision based if it sorts using the value of its
         keys by comparing it with the other element's keys

        4-In each implementation of Algorithm we have sorted in non-decreasing Order.
</pre>
