<div class="container">
    <mat-toolbar style="color: gray;"> Counting Sort
  <button mat-raised-button (click)="onStart()" style="margin-left:30px;"> Generate My array</button>
    </mat-toolbar>
    <p>Welcome to practicing Counting Sort. <span style="color:cadetblue;text-align:right;">Mode-{{mode}}</span></p>
    <div class="example-boundary" >
      <div cdkDropListGroup>
        <div class="example-container">
          <p>Given Array</p>
          <div
            cdkDropList
            [cdkDropListData]="bucketArray"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of bucketArray" cdkDrag cdkDragLockAxis="x" cdkDragLockAxis="y">{{num}}</div>
          </div>
        </div>
       </div>

  

    <p style="color:brown">{{message}}</p>