<div class="container">
    <mat-toolbar style="color: gray;"> Counting Sort
  <button mat-raised-button (click)="onStart()" style="margin-left:30px;"> Generate My array</button>
    </mat-toolbar>
    <p>Welcome to practicing Counting Sort. <span style="color:cadetblue;text-align:right;">Mode-{{mode}}</span></p>
    <div class="example-boundary" >
      <div cdkDropListGroup>
        <div class="example-container">
          <div
            cdkDropList
            [cdkDropListData]="bucketArray"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of countingArray" cdkDrag cdkDragLockAxis="x" >{{num}}</div>
          </div>
        </div>
        <mat-slider
        thumbLabel
         [displayWith]="formatLabel"
         step=10
         tickInterval="10"
         min="0"
             max="10"></mat-slider>
       </div>

  

    <p style="color:brown">{{message}}</p>