<div class="container">
    <mat-toolbar style="color: gray;"> <pre style="font-size: xx-large;">Counting Sort</pre>
  <button mat-raised-button (click)="onStart()" style="margin-left:30px;"> Make My Array</button>
    </mat-toolbar>
    <p>Practicing Counting Sort. </p>
    <pre *ngIf="mode" style="font-size: large;">
      1:Its correct Implementation is stable always.
      
      2:It is used as a subsequence for Radix and Bucket Sort.

      3:Its complexity is pseudo-linear( based on values of elements and not on number of elements).

      4:It uses an extra array to keep record of how many times a key is occuring 

      5:Its principle is similar to as of PiegonHole Sorting.

      6:In this exercise Stability of counting sort is not
        taken into account.

      7:To follow this exercise just count number of times 
        a value is present and use slider to indicate this
        
      8:On completion click on Make My Array
    </pre>
    <p style="font-size: x-large;color:grey" *ngIf="mode"> Get elements here using sidebar</p>
    <div class="row" *ngIf="!mode">
      <div class="column1">
        <div class="example-container">
          <p>Given Array</p>
      
          <div
            cdkDropList
            [cdkDropListData]="countingArray"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of countingArray ;let i=index;" cdkDrag style="font-size: x-large;color:gray;">{{item}}
              
            </div>
          </div>
        </div>
      </div>
      <div class="column2" >
        <p >Slide these after counting number of elements from left and then press 'Make My Array' button above</p>
        <pre>
          <br>
          <br>
          <p style="color:brown">{{message}}</p>
          <br>
        <mat-slider min="0" max="9" step="1" [(ngModel)]="ones"></mat-slider>
          Ones:{{ones}}

        <mat-slider min="0" max="9" step="1" [(ngModel)]="twos"></mat-slider>
         Twos:{{twos}}

        <mat-slider min="0" max="9" step="1" [(ngModel)]="threes"></mat-slider>
         Threes:{{threes}}

        <mat-slider min="0" max="9" step="1" [(ngModel)]="fours"></mat-slider>
        Fours:{{fours}}

        <mat-slider min="0" max="9" step="1" [(ngModel)]="fives"></mat-slider>
        Fives:{{fives}}
         </pre>
        
       
      </div>
    </div>
     
        
        
      </div>