<div class="container">
    <mat-toolbar style="color: darkgreen"><pre style="font-size: xx-large;">Bucket Sort</pre>
    </mat-toolbar>
    <p style="font-size:medium;"> Practicing Bucket Sort. <span style="color:cadetblue;text-align:right;"> <pre *ngIf="(bucketArray.length>0)">Mode:{{mode}}</pre> </span></p>
    <p style="color:brown; font-size:large">{{message}}</p>
    <pre style="font-size: large; color: darkgreen;text-align: left;"  *ngIf="present">
        1:Bucket sort is NOT a comparision based sorting Algorithm.
      
        2:It works by using extra spaces known as Buckets to keep different elements in different 'buckets' 
         based on their criteria.
        
        3:It has many versions and mostly implemented according to data it is going to receive.
         
        4:In some implementations we even keep the buckets sorted.
       
        5:Its Complexity may vary a lot according to what type of inputs it is receiving.
         
        6:It is a generalization of counting sort and various Hashing techniques are used to increase
          its performance.
       
        7:This exercise will generate some elements and has already made Buckets.

        8:Firstly place the elements in the Buckets and then put it back to original 
          array following the messages created as you place these elements.
        
        9:For better performance it uses counting sort as its underlying sorting algorithm (It also makes it stable).

 </pre>
<p  *ngIf="present">Use the Sidebar to get elements in here</p>
    <div class="example-boundary" >
      <div cdkDropListGroup>
        <div class="example-container">
          <p>Given Array</p>
          <div
            cdkDropList
            [cdkDropListData]="bucketArray"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of bucketArray" cdkDrag style="color: rgb(38, 105, 107);font-size: medium;">{{num}}</div>
          </div>
        </div>
      
        <div class="example-container">
          <p>Ones</p>
      
          <div
            cdkDropList
            [cdkDropListData]="ones"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of ones" cdkDrag>{{num}}</div>
          </div>
        </div>
        <div class="example-container">
          <p>Twos</p>
      
          <div
            cdkDropList
            [cdkDropListData]="twos"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of twos" cdkDrag>{{num}}</div>
          </div>
        </div>
        <div class="example-container">
          <p>Threes</p>
      
          <div
            cdkDropList
            [cdkDropListData]="threes"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of threes" cdkDrag>{{num}}</div>
          </div>
        </div>
        <div class="example-container">
          <p>Fours</p>
      
          <div
            cdkDropList
            [cdkDropListData]="fours"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of fours" cdkDrag>{{num}}</div>
          </div>
        </div>
        <div class="example-container">
          <p>Fives</p>
      
          <div
            cdkDropList
            [cdkDropListData]="fives"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of fives" cdkDrag>{{num}}</div>
          </div>
        </div>
        <div class="example-container">
          <p>Sixes</p>
      
          <div
            cdkDropList
            [cdkDropListData]="sixes"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let num of sixes" cdkDrag>{{num}}</div>
          </div>
        </div>
        </div>
    </div>

  

   
     
    </div>