<div class="container">
    <mat-toolbar style="color: darkgreen"> Bucket Sort
        
    </mat-toolbar>
    <p>Welcome to practicing Bucket Sort</p>
    <!-- <div class="example-boundary" *ngIf="bucketArray.length>0">
      <div cdkDropList 
      cdkDropListOrientation="horizontal" 
      class="number-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" 
        *ngFor="let num of bubbleArray" 
         cdkDragBoundary=".example-boundary" 
         cdkDrag>{{num}}</div>
      </div>
    </div>
     
    </div> -->